include COPYING
include MANIFEST.in
include NEWS
include PLUGINS
include README
include config
include rawdog
include rawdog.1
include style.css
include test-rawdog
include testserver.py
recursive-include rawdoglib *.py
